<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barsaris LuxTag</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/luxtag-logo_32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/luxtag-logo_16@2x.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#2A89D0">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Barsaris LuxTag">
    <link rel="apple-touch-icon" href="/static/img/icons/luxtag-logo-152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="/static/img/icons/luxtag-logo-144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900i|Montserrat" rel="stylesheet">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <!-- Element-ui style -->
    <link rel="stylesheet" href="/static/css/theme/index.css">
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="/static/js/vanilla-tilt.min.js"></script>
  </body>
</html>
