<template>
<div class="confirm">

  <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" label-position="left" class="information">

    <el-form-item label="E-mail" prop="email">
      <el-input type="text" @keyup.enter="submitForm('ruleForm')" v-model="ruleForm.email" auto-complete="off"></el-input>
    </el-form-item>

    <el-form-item label="Password" prop="pass">
      <el-input :type="inputypePrng" @keyup.enter="submitForm('ruleForm')" v-model="ruleForm.pass" auto-complete="off">
        <el-button slot="append" @click="showpassPrng">
          <icon :name="iconPrng" :color="icolorPrng"></icon>
        </el-button>
      </el-input>
    </el-form-item>

    <el-form-item label="PassPhrase" prop="passPhrase">
      <el-input autosize type="textarea" data-inputmask-regex="" @keyup.enter="submitForm('ruleForm')" v-model="ruleForm.passPhrase" auto-complete="off">
      </el-input>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')">Next</el-button>
    </el-form-item>
  </el-form>
</div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/eye-slash';
import 'vue-awesome/icons/eye';
import EventBus from '../Buss/EventBus';
import nem from '../../static/js/index';


export default {
  data() {
    const checkpassPhrase = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('Please Enter your passPhrase'));
      } else if (value !== this.passPhraseStore) {
        return callback(new Error('Incorrect passPhrase!'));
      }
      return callback();
    };
    return {
      passPhraseStore: '',
      pk: '',
      inputypePrng: 'password',
      iconPrng: 'eye-slash',
      icolorPrng: '#13CE66',
      ruleForm: {
        email: '',
        pass: '',
        passPhrase: '',
      },
      rules: {
        pass: [
          { required: true, message: 'Please input your wallet password', trigger: 'blur' },
          { min: 6, message: 'The password should be at least 6 charachters', trigger: 'blur' },
        ],
        email: [
          { required: true, message: 'Please input your E-mail', trigger: 'blur' },
        ],
        passPhrase: [
          { required: true, validator: checkpassPhrase, trigger: 'blur' },
        ],
      },
    };
  },
  mounted() {
    // we get the passphrase from the store
    this.passPhraseStore = this.$store.getters.getPassPhrase;
    // we generate the privateKEy
    this.pk = nem.crypto.helpers.derivePassSha(this.passPhraseStore, 6000).priv;
    const keyPair = nem.crypto.keyPair.create(this.pk);
    this.$store.commit('PUSH_PP', keyPair.publicKey.toString());
    EventBus.$emit('loading-stop');
  },
  methods: {
    showpassPrng: function () {
      if (this.inputypePrng === 'password') {
        this.inputypePrng = 'text';
        this.iconPrng = 'eye';
        this.icolorPrng = '#FF4949';
      } else if (this.inputypePrng === 'text') {
        this.inputypePrng = 'password';
        this.iconPrng = 'eye-slash';
        this.icolorPrng = '#13CE66';
      }
    },
    submitForm(formName) {
      const that = this; // we preserve the this scope (to work inside the nem functions)
      this.$refs[formName].validate((valid) => {
        if (valid) {
          EventBus.$emit('loading-start');
          // we commit name and pass to the store
          this.$store.commit('PUSH_WALLETNAME', this.ruleForm.email);
          // create an import wallet
          // https://github.com/QuantumMechanics/NEM-sdk/blob/master/src/model/wallet.js#L49
          const wallet = nem.model.wallet
            .importPrivateKey(
            that.ruleForm.email,
            that.ruleForm.pass,
            that.pk,
            nem.model.network.data.testnet.id);

          this.$store.commit('PUSH_WALLET', wallet); // commit the wallet to the store
          this.$store.dispatch('storeAccount', wallet); // commit the wallet to the localStorage
          this.$store.commit('PUSH_INDEX',
            (that.$store.getters.getAccounts.length - 1));
          this.$store.commit('PUSH_ADDRESS', wallet.accounts[0].address);
          EventBus.$emit('login', {
            login: true,
            index: this.$store.getters.getCurrentIndex,
            PP: this.$store.getters.getPP,
          });
          this.$router.replace('dashboard');
        } else {
          that.$message.error({
            showClose: true,
            message: 'Invalid Form!',
          });
        }
      });
    },
  },
  components: {
    Icon,
  },
};
</script>

<style>
.confirm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  background-color: #fff;
  color: grey;
  width: 100%;
  padding-bottom: 20px;
  outline: 10px solid #F6F6F6 !important;
  margin: 20px;
  padding: 30px;
}
</style>
