<template>
    <div>
      <div class="btn-stack" v-if="show" id="tilt" data-tilt data-tilt-scale="1.1">
        <button class="tilt-btn" @click="login" data-tilt-glare data-tilt-max-glare="0.8">Already Member</button>
        <button class="tilt-btn" @click="signUp" data-tilt-glare data-tilt-max-glare="0.8">Get started</button>
      </div>
      <div v-else class="flex-title">
        <h1 class="cool trad">Traditional</h1><div class="emp">&amp;</div><h1 class="cool dis">Disruptive.</h1>
      </div>
    </div>
</template>

<script>
import Mnemonic from 'bitcore-mnemonic';
import EventBus from '../Buss/EventBus';

export default {
  name: 'home',
  data() {
    return {
      show: true,
    };
  },
  methods: {
    signUp() {
      this.$store.commit('PUSH_PASSPHRASE',
                            new Mnemonic(Mnemonic.Words.ENGLISH).toString());
      // go to the sighn up rout
      this.$router.push('sign-up');
      EventBus.$emit('hide');
    },
    login() {
      // go to the sighn up rout
      this.$router.push('login');
      EventBus.$emit('hide');
    },
  },
  created() {
    const that = this;
    EventBus.$on('login', () => {
      that.show = false;
    });

    EventBus.$on('logout', () => {
      that.show = true;
    });
    this.show = !this.$store.getters.getAuth.login;
  },
  mounted() {
    const VanillaTilt = window.VanillaTilt;
    VanillaTilt.init(document.getElementById('tilt'), {
      max: 25,
      speed: 400,
    });
  },
};
</script>

<!-- You can add "scoped" attribute to limit CSS to this component only -->
<!-- Be carful this can reduce performance -> https://vue-loader.vuejs.org/en/features/scoped-css.html -->
<style>
#tilt{
  margin: auto;
  text-shadow: 1px 1px 2px black;
  transform-style: preserve-3d;
  background: url(../assets/img/Barsaris-flor-roto-motif.gif) no-repeat center center fixed;
  height: 100%;
  width: 452px;
}

.btn-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tilt-btn {
  outline: 10px solid #F6F6F6 !important;
  background: linear-gradient(45deg,#DBFDEC,#FFC2D4);
  border: 2px solid #000;
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.1em;
  padding: 20px 40px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: normal;
  transform: translateZ(80px);
}

.flex-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.cool {
  font-size: 5em;
  margin: 0;
}

.emp {
  font-size: 7em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
</style>
