<template>
  <div class="notice">
    <div class="pass scale-in-hor-left">
      PassPhrase: {{passPhrase}}
    </div>
    <div class="warning">
      <el-form :model="ruleForm" ref="ruleForm" class="form">
        <p>Please Make sure to write down and backup your passphrase
          <el-tooltip placement="top">
            <div slot="content">
              12 Random generated words </br>
              that works as your password.
            </div>
            <icon name="question-circle-o" scale="1"></icon>
          </el-tooltip>
        </p>
        <el-form-item placeholder="Back up" prop="backup" class="backup">
          <el-checkbox v-model="ruleForm.backup">I have made a backup</el-checkbox>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">Next</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/question-circle-o';
import EventBus from '../Buss/EventBus';

// const preventer = document.createElement('style');
// TODO: create a custom validator to prevent spaces
// with regular expressions
// TODO: handle the enter key even in the username feild
export default {
  data() {
    return {
      passPhrase: '',
      ruleForm: {
        backup: false,
      },
    };
  },
  methods: {
    async submitForm(formName) {
      const that = this;
      // using a global event bus
      // the event is catched in the app.vue
      function loading() {
        return new Promise((resolve, reject) => {
          EventBus.$emit('loading-start');
          resolve();
        });
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (that.ruleForm.backup === false) {
            that.$message({
              message: 'Please backup your passphrase',
              type: 'error',
            });
            return false;
          }
          loading().then(() => {
            // document.querySelector('head').removeChild(preventer);
            that.$router.push('confirmation');
            return true;
          });
        }
        return false;
      });
    },
  },
  created() {
    // get the passPrase when the component is mounted
    this.passPhrase = this.$store.getters.getPassPhrase;
    // Block the copying of the passPhrase
    // preventer.textContent = '*{-webkit-user-select: none;}';
    // document.querySelector('head').appendChild(preventer);
  },
  components: {
    Icon,
  },
};
</script>

<style>
.notice{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.pass{
  outline: 10px solid #F6F6F6 !important;
  border: 2px solid #000;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  word-spacing: 0.75em;
  padding: 20px 40px;
  background-color: #F6F6F6;
}

.warning {
  background-color: #fff;
  color: grey;
  width: 100%;
  padding-bottom: 20px;
  outline: 10px solid #F6F6F6 !important;
  margin: 20px;
}

.form {
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form p {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 16px;
}

.scale-in-hor-left {
	animation: scale-in-hor-left 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2017-8-6 0:26:14
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-hor-left
 * ----------------------------------------
 */
@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
</style>
