<template>
  <div id="app">
    <div id="loading" v-if="loading">
      <square-grid></square-grid>
    </div>
    <header>
      <div class="home" @click="home">
        <img src="./assets/img/Logo.png" alt="logo">
      </div>
      <el-menu class="persona" :default-active="activeIndex" mode="horizontal">
        <el-dropdown v-if="login" id="drop" :hide-on-click="false">
          <el-menu-item index="1" class="mail" >{{email}}</el-menu-item>
          <el-dropdown-menu @visible="style" id="drop-menu" slot="dropdown">
            <el-dropdown-item>
              <router-link to="/dashboard" class="rout-link">
                <icon name="th" scale="1"></icon><span>Dashboard</span>
              </router-link>
            </el-dropdown-item>
            <el-dropdown-item>
              <router-link to="/settings" class="rout-link">
                <icon name="gears" scale="1"></icon><span>Settings</span>
              </router-link>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <el-menu-item index="2" v-if="login" type="text" class="side-button" @click="logout" >
          <icon name="sign-out" scale="1"></icon><span>Logout</span>
        </el-menu-item>
        <el-menu-item v-if="accounts.length" index="3" type="text" class="side-button" @click="dialogFormVisible = true" >
          <icon name="trash" scale="1"></icon><span>Purge</span>
        </el-menu-item>
      </el-menu>
    </header>
    <main>
      <router-view></router-view>
      <el-dialog title="Purge Account(s)" :visible.sync="dialogFormVisible" @close="toPurge = []">
        <el-form>
          <el-form-item label="Local accounts" >
            <el-select v-model="toPurge" multiple placeholder="Select Account(s)">
              <el-option
                v-for="(account, index) in accounts"
                :key="index"
                :label="account.name"
                :value="index">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="cancel">Cancel</el-button>
          <el-button type="primary" @click="confirm">Confirm</el-button>
        </span>
      </el-dialog>
    </main>
    <footer>
      <div class="copyright" >&copy; by Jeff McDonald, Faeez M Noor, Rene Bernard - US patent pending - info@luxtag.io - Powered by NEM technology.</div>
      <div class="version" >Version: <b>0.1.0</b> Powered by LuxTag</div>
    </footer>
  </div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/sign-out';
import 'vue-awesome/icons/trash';
import 'vue-awesome/icons/gears';
import 'vue-awesome/icons/th';
import SquareGrid from './components/SquareGrid';
import EventBus from './Buss/EventBus';
// TODO: put the rout back to the root
// check if the user is loged in
export default {
  name: 'app',
  data() {
    return {
      dialogFormVisible: false,
      activeIndex: '1',
      email: '',
      loading: false,
      toPurge: [],
    };
  },
  methods: {
    logout() {
      EventBus.$emit('logout');
      this.$router.replace('/');
    },
    goDash() {
      this.$router.replace('/dashboard');
    },
    home() {
      this.$router.replace('/');
    },
    cancel() {
      this.dialogFormVisible = false;
      this.toPurge = [];
    },
    style() {
      // styling the drop down
      const wid = JSON.stringify(document.getElementById('drop').offsetWidth);
      document.getElementById('drop-menu').style.width = `${wid}px`;
    },
    confirm() {
      const that = this;
      if (that.toPurge.length) {
        this.$confirm('This will permanently delete the Account(s) from your local storage. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }).then(() => {
          that.$store.dispatch('purge', that.toPurge);
          that.dialogFormVisible = false;
          that.toPurge = [];
          this.$message({
            type: 'success',
            message: 'Delete completed',
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled',
          });
        });
      } else {
        that.dialogFormVisible = false;
        that.toPurge = [];
      }
    },
  },
  computed: {
    login() {
      return this.$store.getters.getAuth.login;
    },
    accounts() {
      return this.$store.getters.getAccounts;
    },
  },
  created() {
    const that = this;
    if (this.login) {
      this.email = this.$store.getters.getAccounts[this.$store.getters.getAuth.index].name;
    }
    EventBus.$on('login', (auth) => {
      that.$store.commit('STORE_AUTH', auth);
      this.email = this.$store.getters.getAccounts[auth.index].name;
    });

    EventBus.$on('home', () => {
      this.$router.replace('/');
    });

    EventBus.$on('logout', () => {
      that.$store.commit('STORE_AUTH', {
        login: false,
      });
    });

    EventBus.$on('loading-start', () => {
      that.loading = true;
    });

    EventBus.$on('loading-stop', () => {
      that.loading = false;
    });
  },
  components: {
    SquareGrid,
    Icon,
  },
};
</script>

<style>
::selection{
  background: #FDCF90;
}
html{
  background: linear-gradient(45deg, #DAE7F0, #FADAE7);
}
html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#loading{
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(219, 230, 239, 1);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading .spinner-inner{
 transform: scale(0.36) !important;
}

header {
  display: flex;
  height: 60px;
  justify-content: space-between;
}
.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
  cursor: pointer;
}
.home > img {
  width: 143.72px;
  height: 50%;
  margin-left: 25px;
}

.persona {
  display: flex;
  align-items: center;
}

.mail, .side-button {
  font-size: 14px;
  margin: 10px;
}

.side-button > span {
  margin-left: 7px;
}

.el-menu {
  background-color: rgba(219, 230, 239, 0);
  background: linear-gradient(45deg,#DAE7F0,#FADAE7);
}
.tag{
  padding: 1em 0 0 0.2em;
  font-size: 1.4em;
  font-weight: 500;
}
main {
  text-align: center;
  height: calc(100vh - 120px);
  display: flex;
  overflow: auto;
  justify-content: center;
}
.el-dialog--small {
  width: 25%;
}

.el-dialog__body {
  display: flex;
  justify-content: center;
}

.rout-link > span{
  margin-left: 7px;
  margin-bottom: 3px;
}

.el-dropdown-menu__item > a {
  font-size: 12px;
  text-decoration: none;
  color: inherit;
}

footer{
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.copyright{
  font-size: 10px;
  color: #99A9BF;
  padding: 20px;
}
.version{
  font-size: 10px;
  color: #573A62;
  padding: 20px;
}

.version b {
  color: #000;
}

</style>
